@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', serif;
    font-weight: 100;
}

body {
    background-color: #eeeeee;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 25vw 25vw 50vw;
    grid-template-rows: 80vh 10vh 10vh;
}

.card {
    background-color: #ffffff;
    padding: 0.5vw;
    margin: 0.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 0.5vw;
}

.left-aligned {
    align-items: flex-start;
}

.large {
    font-size: 5vh;
}

.medium {
    font-size: 3.75vh;
}

.small {
    font-size: 2.5vh;
}

.tiny {
    font-size: 1.5vh;
}

.outset {
    box-shadow: 0px 4px 20px 4px #d0d0d0, 0px 4px 0px 0px #f0f0f0;
}

.inset {
    box-shadow: inset 0px -4px 20px 4px #d0d0d0, 0px -4px 0px 0px #f0f0f0;
}

.clickable {
    transform: translateY(-2px);
    transition-duration: 0.1s;
    user-select: none;
}

.clickable:hover {
    background-color: #f8f8f8;
    box-shadow: 0px 3px 15px 3.75px #d0d0d0, 0px 3px 0px 0px #f0f0f0;
    transform: translateY(-1px);
}

.clickable:active {
    box-shadow: 0 0 0 0 #d0d0d0, 0 0 0 0 #f0f0f0;
    transform: translateY(2px);
}

#clocks {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#employees {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#clock-in {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#clock-out {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#employee-id-input {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

#orders {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

#back {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

.horizontal-scroll-div {
    width: 90%;
    overflow: scroll hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 1;
}

.vertical-scroll-div {
    width: 90%;
    overflow: hidden scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
}

.hidden-scrollbar {
    overflow: hidden;
}

.wrapped {
    flex-direction: row;
    flex-wrap: wrap;
}

.bad-flash {
    -webkit-animation-name: bad-flash-animation;
    -webkit-animation-duration: 1s;

    animation-name: bad-flash-animation;
    animation-duration: 1s;
}

@-webkit-keyframes bad-flash-animation {  
    from { 
        background: #ff2020; 
        -webkit-box-shadow: 0px 3px 15px 3.75px #cc0000, 0px 3px 0px 0px #cc0000;
    }
    to   { 
        background: var(--prim); 
        -webkit-box-shadow: 0px 3px 15px 3.75px #d0d0d0, 0px 3px 0px 0px #f0f0f0;
    }
}

@keyframes bad-flash-animation {  
    from { 
        background: #ff2020; 
        box-shadow: 0px 3px 15px 3.75px #cc0000, 0px 3px 0px 0px #cc0000;
    }
    to   { 
        background: var(--prim); 
        box-shadow: 0px 3px 15px 3.75px #d0d0d0, 0px 3px 0px 0px #f0f0f0;
    }
}