<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Burgertime</title>
    <link rel="stylesheet" href="/static/css/employee.css" type="text/css">
    <script defer src="/static/js/employee.js"></script>
</head>
<body>
    <div class="clickable outset card" id="clock-in">
        <h1 class="large">Clock In</h1>
    </div>
    <div class="clickable outset card" id="clock-out">
        <h1 class="large">Clock Out</h1>
    </div>
    <input type="text" class="large outset card" id="employee-id-input" placeholder="Employee ID">
    <div class="outset card" id="orders">
        <h1>Orders</h1>
        <div class="vertical-scroll-div inset card" id="orders-scroll"></div>
    </div>
    <button class="clickable outset card" id="back">
        <h1>Back</h1>
    </button>
</body>
</html>
